<div class="flexbox">
  <div class="flex-element" id="profile">
    <%= render "pages/login" %>
    <br>
  </div>
  <div class="flex-element" id="shoes">
    <%= render "shoes/user_shoes" %>
  </div>
</div>
