.bookingbtn {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background-color: #5B00B6;
}

.bookingbtn-green {
  width: 40%;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background-color: #03a703;
}

.bookingbtn-red {
  width: 40%;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background-color: #b60600;
}
