.flexbox {
  position: absolute;
  display: flex;
  align-content: center;
}

.flexbox-header {
  justify-content: space-between;
}


#profile {
  position: fixed;
  z-index: 5;
  background-color: rgba(238, 210, 254, 0.17);
  border-right:  #9c9c9c 0.5px solid;
  border-left:  #9c9c9c 0.5px solid;

}

.description-box {
  overflow-y:auto;
  width: 400px;
  height: 200px;
  text-align: justify;
  font-weight: 500;
  color: #000000;
  padding: 30px;

}

.user-profile, .purpletitle {
  width: 400px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  text-shadow: 1px 1px white;
  padding: 10px;
  margin-top: 10px;

  p {
    font-size: large;
  }

  #user_name {
    font-size: 35px;
  }

  a {
    text-decoration: none;
  }
}

.user-profile img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(68, 68, 68, 0.2);
}

#shoes {
  position: sticky;
  margin-left: 390px;
}
