.infobox {
  padding: 15px;
  width: fit-content;
  height: 345px;
  border: 1px #a9a9a9 solid;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px #949494;
  flex: 1;

  h3 {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: #c1c1c1 1px solid;
  }
}

.highlighted {
  box-shadow: 0px 0px 30px 0px #5B00B6;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 30px;
}

.totalprice {
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-top: #888888 1px dashed;
}

.disclaimer {
  font-size: 10px;
  color: #888888;
  text-align: center;
}

.key {
  display: flex;
  flex: 1;
}
