.navbar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 92%;
  background-color: #D4D4D4;
  overflow-x: hidden;
  padding-top: 16px;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.navbar a img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
