.navbar {
  height: 100%;
  width: 7%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 93%;
  background-color: #D4D4D4;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 16px;
  color:transparent;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.navbar a img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.navbar a img:hover {
  filter: invert(100%);
  color: #D4D4D4;
}

.main-content {
  margin-right: 3%;
  padding: 0px 10px;
}
