<h1>OBUVnB</h1>

<h2>Flashy shoes for rent.</h2>
<div class="shoe-grid">
  <% @shoes.each do |shoe| %>
    <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
      <div class="shoe-thumbnail tsmall">
        <div class="avatar"></div>
        <%= cl_image_tag shoe.image1.key %>
      </div>
    <% end %>
  <% end %>
  <% @shoes.each do |shoe| %>
    <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
      <div class="shoe-thumbnail tbig">
        <div class="avatar"></div>
        <%= cl_image_tag shoe.image1.key %>
      </div>
    <% end %>
  <% end %>
</div>
